/* Custom CSS
Austin Thornley
2021 */

* {
  font-family: 'Raleway', sans-serif;
  color: #808080;
}

#top-bar {
  background-color: #ededed;
}

#main-info {
  background-color: #ededed;
}

#contact {
  background-color: #ededed;
}

nav>a {
  color: #808080;
}

.navlink {
  color: #808080;
}

#footer {
  height: 60px;
  margin-top: 20px;
}

.centerText {
  text-align: center;
}